
@font-face {
  font-family: 'fontaf6eee1b3c701a7590c05964d553ee66';
          src:    url('https://nomail.com.ua/files/eot/af6eee1b3c701a7590c05964d553ee66.eot?#iefix') format('embedded-opentype'),
              url('https://nomail.com.ua/files/woff/af6eee1b3c701a7590c05964d553ee66.woff') format('woff'),
              url('https://nomail.com.ua/files/woff2/af6eee1b3c701a7590c05964d553ee66.woff2') format('woff2');
  }
  
  @font-face { font-family: 'GoraFree-Regular';  src: local('GoraFree-Regular'), url('https://nomail.com.ua/files/woff/af6eee1b3c701a7590c05964d553ee66.woff') format('woff'); }

  #gorafreeregular { font-family:'GoraFree-Regular'; }
  .fontaf6eee1b3c701a7590c05964d553ee66 { font-family: 'fontaf6eee1b3c701a7590c05964d553ee66'; }
  .wrapper, .header, .banner, .feauteres, .news, .footer{
    width: 1100px;
    margin: 0 auto;
  
}

  .header {
    
    background-color: #131415;
    position: relative;
    
    height: 77px;
    padding-top: 12px;
}

.header__text{
  padding: 10px;
}
.header__logo{
  font-family: "Gora Free", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #f89513;
  padding-left: 19px;
  padding-top: 31px;
  font-weight: 800;
  float: left;
  
}
.header__sidebar-item, .header__sidebar-img, .feautere__item, feeds__avatar, .feeds__item, feeds__content{
  display: inline-block;
   
}
.header__sidebar-text{
  text-decoration: none;
}
.header__sidebar-list{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding-left: 201px;
  padding-right: 178px;
  margin-top: 21px;
  float: left;
  
}


.header__sidebar-list:link{
  text-decoration: none;
}

a:visited, .header__phone-number, .header__sidebar-list {
  color: #ffffff;
  text-decoration: none;
}


.header__info{
  margin: 0;
  float: right;
  padding-right: 19px;
  padding-top: 21px;
}

 .header__sidebar-text{ 
  padding: 20px;
}

.banner{
  background-color: #ffffff;
  height: 625px;
}

.banner__picture{
  position: relative;
  display: block;
  margin: 0 auto;
  top: 95px;
  width: 735px;
}

.feauteres{
  background-color: #131415;
  height: 735px;
}

.feauteres__title{
  position: relative;
  top: 65px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 49px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.feautere__avatar{
  background-color: #f89513;
  width: 75px;
  height: 75px;
  border-radius: 200px;
  display: block;
  margin: 0 auto;
}

.feautere__content{
  display: block;
  
}

.feautere__list, .feautere__item, .feautere__content, .feauteres__title, .feeds__title{
  text-align: center;
}
.feautere__item{
  position: relative;
  top: 60px;
  padding: 70px;
}

.feautere__content-list{
  padding: 10px;
   text-align: left;
  list-style: disc;
  
}



.feautere__content-title, .feautere__content{
   font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight:400;
  color: #ffffff;
}

.feautere__content-text{
  margin: 0 auto;
  
}
.feautere__content-picture{
  position: relative;
  top: 20px;
}
.feautere__content-item{
  padding: 5px;
}

.news{
  background-color:#ffffff;
  height: 955px;
}

.feeds__title{
  position: relative;
  top: 65px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 49px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}

.feeds__list{
  position: relative;
  top: 60px;
  list-style: none;
}
.feeds__list{
  float: left;
  
  width: 850px;
}

.feeds__avatar-picture{
  float: left;

  background-color: #807f7f;
  width: 165px;
  height: 165px;
  border-radius: 200px;
  display: block;
  margin: 0 auto;
  
}
.feeds__item{
  padding-bottom: 65px;
}
.feeds__content{
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  width: 695px;
}

.feeds__date{
  font-size: 12px;
  color: #848383;
}




.feeds__username, .feeds__text{
  font-size: 18px;
  color: #000000;
}

.last-news{
  float: right;
  position: relative;
  list-style: none;
  
  top: 65px;
  width: 160px;
}

.last-news__item{
  list-style: none;
}
.feeds__content{
  position: relative;
  left: 20px;
}

.last-news__title, .last-news__title-monse{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding-left: 70px;
  margin: 5px;
  font-size: 12px;
  color: #000000
}
.last-news__title-monse{
  color: #807f7f
}

.last-news__avatar-picture{
  position: relative;
  padding-bottom: 22px;
  filter:opacity(55%);
  
}

.page__line{
  text-align: center;
  clear: left;
  color: #000000
  
  
}
.page__item{
  display: inline-block;
  font-weight: bold
  
}

.page__link:visited {
  color: #000000;
}
.page__link{
  text-decoration: none;
  padding: 5px;
  color: #000000;
}


.page__link:hover{
  background: #27273e;
  color: #ffffff;
}
.left, .page__text-number{
  filter:opacity(50%);
}

.footer{
  height: 76px;
  
  background: #131415;
}

.footer__text{
  
  float: left;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  padding-left: 20px; /* Поля вокруг текста */
  margin-right: 20px; /* Отступ справа */
  color: #ffffff;
  
}
.footer__text-word{
  font-weight: bold;
}
.footer__logo{
  position: relative;  
  right: 50px;
  float: left;
  font-family: "Gora Free", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #f89513;
  padding-top: 30px;
  padding-left: 235px;
  width: 177px;
  
}
.footer__social-networks{
  float: right;
  padding-right: 22px;
  color: #ffffff;
  height: 15px;

}

.footer-item{
  display: inline-block;
  float: left;
  list-style: none;
}
.footer-item {
background-color: #807f7f;
width: 20px;
height: 20px;
border-radius: 200px;
display: block;

}
.footer-item{
  margin-right: 15px;
  margin-left: 5px;
  position: relative;  
    bottom: 18px;  
    right: 40px;
    text-align: center;
  }
  body{
    background-color: #131415; 
   } 
   .feauteres{
    position: relative;
    bottom: 35px;
     
   }
   .news{
    position: relative;
    bottom: 70px;
   }

   .last-news{
    position: relative; 
    right: 75px;
   }
   .page__line{
    position: relative;
    bottom: 120px; 
   }

   .footer{
    position: relative;
    bottom: 125px; 
   }
   .footer-item:hover{
    background: #f89513;
    
  }
  .footer__social-tittle{
    position: relative;
    bottom: 5px; 
   }
   .header__sidebar-text:link {
      color: #ffffff;
  }

  .header__sidebar-text:visited {
    color: #ffffff;
  }
  .header__sidebar-texta:active {
    color: #ffffff;
  }

  .header__schedule:visited {
    color: #c77814;
    text-decoration: underline;
  }

  .header__schedule:link {
    color: #c77814;
}

.header__schedule:active {
  color: #c77814;
}


.logo:link, .logo:visited, .logo:active{
  color: #c77814;
  text-decoration: none;
}