body {
  
  font-size: 16px;
  width: 1100px;
  margin: 0 auto;
}



.header {
  /* background: url('../img/tema/yuri.jpg') center center no-repeat red; */
  /* background-image: url('../img/tema/yuri.jpg'),
    url('../img/tema/yuri.jpg');
  background-position: center center, left center;
  background-repeat: no-repeat, repeat; */
  
  height: 77px;
  background-color: #131415;

    
}

.header__logo{
  padding-left: 19px; 
  padding-top: 31px;
  
  font-family: "Gora Free", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #f89513;
  
  
  
}
.header__sidebar-list{
  position: relative;
  left: 417px;
  top: -36px;
}
 .header__sidebar-img, .header__sidebar-item{
  
  display: inline;
  
  
  
}
.header__sidebar-item{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #f89513;
  list-style-type: none;
}







