@font-face {
  font-family: 'gora_freeregular';
  src: url('gora-webfont.woff2') format('woff2'),
       url('gora-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal; /* or italic*/
  font-display: block; /* swap|optinal|fallback*/
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('MyriadPro-Regular.woff') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}


.body{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; /*опция для сглаживания шрифтов для движка webkit*/
  -moz-osx-font-smoothing: antialiased;
}

.header{
  background-color: #131415;
}


.container{
  margin: 0 auto;
  width: 1100px;
}
.header__top{
  min-height: 77px;
} 
.header__left{
  width: 25%;
  float: left;
}
.logo{
  font-family: "Gora Free", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: #f89513;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  padding-top: 30px;
  padding-left: 20px;
  
}
.header__center{
  float: left;
  margin: 0 auto;
  width: 50%;
  
}
.sidebar__list{
 
  margin: 0px;
  padding-left: 105px;
  padding-top: 25px;
}
.sidebar__item{
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
   
 }
.sidebar-img{
  display: inline-block;
  padding-top: 4px;
  padding-left: 1px;
}
.sidebar__text{
  display: inline-block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
   
}
.sidebar__text-item{
  display: inline-block;
  padding-left: 14px;
  position: relative;
  bottom: 2px;
}
.star{
  padding-left: 22px;
}

.gan{
  padding-left: 18px;
}

.header__right{
  float: right;
  margin: 0 auto;
  width: 25%;
  text-align: right;
  padding-top: 18px;
  letter-spacing: 0.6px;
}

.phone{
  font-weight: bold;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  padding-right: 20px;
  
}

.phone:hover{
  text-decoration: underline;
}
.work{
  text-decoration: none;
}
.work__text{
  position: relative;
  left: -1px;
  top: 4px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #fff;
  padding-right: 20px;
  
  
}
.work__text:hover{
  color: rgba(248, 149, 19, .7);
  text-decoration: underline;
}


.header__banner{
  margin: 0 auto;
  width: 1100px;
  height: 627px;
  background-color: #fff;
  text-align: center;
}


.banner__img{
  width: 740px;
  height: 477px;
  padding-top: 81px;
}

.main-content{
  position: relative;
  bottom: 3px;
}
.feature{
  background-color: #131415;
  min-height: 571px;
  
}
.title{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 49px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding-top: 54px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 auto;
}



.feautere__listes{
  text-align: center;
  
}
.feautere__item{
  display: inline-block;
  width: 200px;
  padding-top: 38px;
  padding-right: 57px;
 
}

.feautere__avatar{
  background-color: #f89513;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}


.feautere__content-picture{
  padding-top: 17px;
}
.feautere__content{
  color: #d0d0d0;
  font-family: "Myriad Pro", Arial, sans-serif;
}
.feautere__content-title{
  font-size: 10.78px;
  padding-top: 28px;
  letter-spacing: 3px;
  padding-left: 7px;
  text-transform: uppercase;
    
}
.feautere__content-text{
  font-size: 18px;
}


