@font-face {
  font-family: 'gora_freeregular';
  src: url('../fonts/gora-webfont.woff2') format('woff2'),
       url('../fonts/gora-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body{
  height: 100%;
}

.body{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; /*опция для сглаживания шрифтов для движка webkit*/
  -moz-osx-font-smoothing: grayscale;
  color: #221f1f;
  line-height: 1.42;
}

.wrapper{
  overflow: hidden;
  min-width: 1100px;
  min-height: 100%;
}

.wrapper:after{
  content: "";
  display: block;
  height: 87px;
}

.container{
  margin: 0 auto;
  width: 1060px;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

* {
  box-sizing: border-box;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  margin: 0;
}

.header{
  background-color: #131415;
  padding-top: 26px;
  padding-bottom: 26px;
  margin-bottom: 30px;
}



.header__left, .header__center, .header__right{
  display: inline-block;
  vertical-align: middle;
  
}
.header__left, .header__right{
  width: 25%;
  
}
.header__center{
  width: 49%;
  text-align: center;
}

.header__right{
  text-align: right;
}

.logo{
  font-family: 'gora_freeregular';
  font-size: 18px;
  letter-spacing: 2px;
  color: #f89513;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
}


.menu__item{
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 26px;
   
 }

.menu__text{
  display: inline-block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
   
}
.menu__text-item{
  display: inline-block;
  padding-left: 14px;
 
}




.phone{
  font-weight: bold;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
 
  
}

.work{
  text-decoration: none;
}
.work__text{
 
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
   font-weight: bold;
  color: #fff;
 
  
  
}
.work__text:hover{
  color: rgba(248, 149, 19, .7);
  text-decoration: underline;
}

.content {
  float: left;
  width: 880px;
  font-family: "Open Sans", Arial, sans-serif;
}

/*хлебные крошки*/

.breadcrumbs {
  margin-bottom: 18px;
  margin-left: 92px;
}

.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle;
  font-family:'Open Sans';
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  color: #221f1f;
  opacity: .8;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__item-link {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #b24930;
}

.breadcrumbs__item-link_active {
  color: #221f1f;
  opacity: .8;
  text-decoration: none;
}

/*отзывы*/
.reviews{
  margin-left: 92px;
  margin-bottom: 65px;
}
.reviews__title{
  margin-bottom: 38px;
  
}

.title{
  
  font-size: 49px;
  font-weight: bold;
  text-align: left;
  color: #221f1f;  
  text-transform: uppercase;
  letter-spacing: 1.8px;
 
}

.reviews__image {
  float: left;
  margin-right: 8px;
  text-align: center;
  width: 170px;
}

.reviews__data {
  font-size: 14px;
  font-weight: 300;
  color: #656464;
}



.reviews__avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.reviews__item {
  margin-bottom: 9px;
}


.reviews__item-wrap {
  border-bottom: 2px solid #f5f5f5;
  display: inline-block;
  padding-bottom: 40px;
}


.reviews__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reviews__text {
  width: 600px;
  float: left;
  line-height: 1.4;
}

.reviews__content {
  font-weight: 300;
  font-size: 18px;
}

.reviews__list {
  list-style: none;
}

.pagination {
  text-align: center;
  margin-left: 120px;
  font-weight: bold;
}

.pagination__title {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #656464;
  margin-right: 18px;
}

.pagination__btn {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  color: #221f1f;
}

.pagination__btn_prev {
  margin-right: 9px;
}

.pagination__btn_next {
  margin-left: 9px;
}

.pagination__btn_active {
  color: #bebdbd;
}

.pagination__list {
  display: inline-block;
  vertical-align: middle;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
}

.pagination__link {
  text-decoration: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  display: block;
  font-size: 14px;
  color: #221f1f;
  transition: .3s;
}

.pagination__link:hover {
  color: #f89513;
  background-color: #131415;
  border-radius: 3px;
}

.pagination__item_active .pagination__link {
  color: #f89513;
  background-color: #131415;
  border-radius: 3px;
}

/*информация*/

.info{
  width: 1100px;
  background-image: url('../img/background/background.jpg');
  background-repeat: repeat-x;
  margin-bottom: 92px;
  
}
.info__text{
  margin: 0 auto;
  font-size: 18px;
  width: 62%;
  color: #bababa;
  line-height: 1.5;
  padding-top: 34px;
  padding-bottom: 45px;
  
}

.info__text-tall{
  color: #f89513;
  font-weight: bold;
  
}
.form__review{
  width: 700px;
  background-color: #f5f5f5;
  margin: 0 auto;
  padding-left: 78px;
  padding-bottom: 50px;
}


.form__help{
  display: inline-block;
  width: 33%;
}
.form_title{
  margin-bottom: 29px;
}
.form__help-text, .form__name, .comment, .form__help-text{
  display: block;
  margin-bottom: 10px;
}
.form__foto-check{
  display: inline-block;
  width: 43%;
  vertical-align: middle;
}
.comment{
  width: 560px;
  height: 90px;
}
.form__button{
  display: inline-block;
  width: 25%;
  vertical-align: middle;
 
}
 .footer>.container {
  background-color: #131415;
  min-width: 100%;
  margin-top: -40px;
  padding-bottom: 31px;
  padding-top: 10px;
  padding-right: 110px;
  padding-left: 118px
  
}

.footer__text {
  font-size: 14px;
  font-weight: 300;
}

.footer__text a {
  color: #fff;
  font-weight: bold;
}

.footer__col_mid {
  text-align: center;
}

.end_logo{
  font-family: 'gora_freeregular';
  letter-spacing: 2px;
  color: #f89513;
  text-decoration: none;
  padding-top: 20px;
  text-transform: uppercase;
  width: 100%;
}
.socials {
  display: inline-block;
  text-align: left;
}

.socials__title {
  margin-bottom: 8px;
  font-weight: bold;
}

.socials__item {
  display: inline-block;
  margin-right: 8px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .7);
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
}

.socials__link:hover {
  background-color: #f89513;
}




.footer__col_last {
  text-align: right;
}

.socials__link_fb{
  position: relative;
  top: 2px;
}
.bold-text {
  font-weight: bold;
}

.footer .container {
  font-size: 0;
}

.footer .container {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.footer__logo{
  font-size: 18px;
  }
.footer__col {
  display: inline-block;
  width: 32.3%;
  vertical-align: middle;
  color: #fff;
  padding-right: 15px;
  padding-left: 27px;
 
}
.socials__list{
  font-size: 18px;
  text-align: center;
}

.footer__social-img{
  padding-top: 3px;
}
